﻿@page "/create"
@inherits Protected

@inject IPersonService personService
@inject NavigationManager navMgr

<section>
    <header>
        <h2>Create Person</h2>
    </header>
    <article>
        <span>@errorMessage</span>
        <EditForm Model="@person" OnValidSubmit="@CreatePerson">
            <table class="table-form">
                <tr>
                    <td class="label">Prefix:</td>
                    <td>
                        <InputText @bind-Value="@person.Prefix" />
                    </td>
                </tr>
                <tr>
                    <td class="label">First Name:</td>
                    <td>
                        <InputText @bind-Value="@person.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Middle Name:</td>
                    <td>
                        <InputText @bind-Value="@person.MiddleName" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Last Name::</td>
                    <td>
                        <InputText @bind-Value="@person.LastName" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Suffix:</td>
                    <td>
                        <InputText @bind-Value="@person.Suffix" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Gender:</td>
                    <td>
                        <InputSelect @bind-Value="@person.Gender">
                            <option value="">Choose Gender</option>
                            <option>Female</option>
                            <option>Male</option>
                        </InputSelect>
                    </td>
                </tr>
                <tr>
                    <td class="label">Birth Date:</td>
                    <td>
                        <InputDate @bind-Value="@person.BirthDate" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Create</button> &nbsp;&nbsp;
                        <NavLink href="/" class="btn btn-primary">Cancel</NavLink>
                    </td>
                </tr>
            </table>
        </EditForm>
    </article>
</section>

@code {
    private string errorMessage;
    private PersonDto person = new PersonDto();

    private async Task CreatePerson()
    {
        var request = new CreatePersonRequest()
        {
            Prefix = person.Prefix,
            FirstName = person.FirstName,
            MiddleName = person.MiddleName,
            LastName = person.LastName,
            Suffix = person.Suffix,
            Gender = person.Gender,
            BirthDate = person.BirthDate
        };

        var response = await personService.CreatePerson(request);

        if (response.Successful) navMgr.NavigateTo("");

        errorMessage = response.Message;
    }
}
