﻿@page "/"
@inherits Protected
@inject IPersonService  personService

@using System.Text;

<section>
    <header>
        <h2>People</h2>
    </header>
    <article>
        @if (response.People != null && response.People.Any())
        {
            <table class="data-table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Middle Name</th>
                        <th>Last Name</th>
                        <th>Birth Date</th>
                        <th>Gender</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var person in response.People)
                    {
                        <tr>
                            <td>@person.FirstName</td>
                            <td>@person.MiddleName</td>
                            <td>@person.LastName</td>
                            <td>@person.BirthDate.ToShortDateString()</td>
                            <td>@person.Gender</td>
                            <td>
                                <NavLink class="btn btn-primary" href="@GetUpdateHref(person.Id)">Update</NavLink>
                                <AuthorizeView Roles="Administrator">
                                    <button class="btn btn-danger" @onclick=@(() => DeletePerson(person.Id))>Delete</button>
                                </AuthorizeView>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>@errorMessage</p>
        }
    </article>
</section>

@code {
    private GetPeopleResponse response = new GetPeopleResponse();

    private string errorMessage;

    private string GetUpdateHref(int personId)
    {
        return $"/update/{personId}";
    }

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        await GetPeople();
    }

    private async Task GetPeople()
    {
        try
        {
            var request = new GetPeopleRequest();

            response = await personService.GetPeople(request);
        }
        catch(Exception ex)
        {
            StringBuilder str = new StringBuilder();

            while (ex != null)
            {
                str.Append($"Message: {ex.Message}<br />Stack Trace: {ex.StackTrace}<br /><br />");
                ex = ex.InnerException;
            }

            errorMessage = str.ToString();
        }
    }

    private async Task DeletePerson(int personId)
    {
        try
        {
            var response = await personService.DeletePerson(new DeletePersonRequest() { PersonId = personId });

            if (response.Successful) await GetPeople();
            else errorMessage = response.Message;
        }
        catch(Exception ex)
        {
            StringBuilder str = new StringBuilder();

            while (ex != null)
            {
                str.Append($"Message: {ex.Message}<br />Stack Trace: {ex.StackTrace}<br /><br />");
                ex = ex.InnerException;
            }

            errorMessage = str.ToString();
        }
    }
}