﻿@page "/login"

@inject ILoginService  loginService
@inject NavigationManager navMgr
@inject IUrlQuery urlQuery;

<section>
    <header>
        <h3>Login</h3>
    </header>
    <article>
        <span>@errorMessage</span>
        <EditForm Model="@credentials" OnValidSubmit="@AuthenticateUser">
            <table class="table-form">
                <tr>
                    <td class="label">Username:</td>
                    <td>
                        <InputText @bind-Value="@credentials.Username" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Password:</td>
                    <td>
                        <InputPassword @bind-Value="@credentials.Password" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Login</button> 
                    </td>
                </tr>
            </table>
        </EditForm>
    </article>
</section>

@code {
    private AuthenticateUserRequest credentials = new AuthenticateUserRequest();
    private string errorMessage;

    private string returnUrl;

    protected override void OnInitialized()
    {
        returnUrl = urlQuery.GetValue("returnUrl");
    }

    private async Task AuthenticateUser()
    {
        var response = await loginService.Login(credentials);
        if (response.Authenticated)
        {
            var url = string.IsNullOrEmpty(returnUrl) ? string.Empty : returnUrl;
            navMgr.NavigateTo(url);
        }
        else if (response.Status != AuthenticationStatus.NotAuthenticated)
        {
            errorMessage = "Invalid credentials, please try again.";
        }
        else
        {
            errorMessage = "An error occurred while authenticating user. Please try again.";
        }
    }
}
