﻿@page "/update/{PersonId:int}"
@inherits Protected

@inject IPersonService personService
@inject NavigationManager navMgr

<section>
    <header>
        <h2>Update Person</h2>
    </header>
    <article>
        <span>@errorMessage</span>
        <EditForm Model="@person" OnValidSubmit="@UpdatePerson">
            <table class="table-form">
                <tr>
                    <td class="label">Prefix:</td>
                    <td>
                        <InputText @bind-Value="@person.Prefix" />
                    </td>
                </tr>
                <tr>
                    <td class="label">First Name:</td>
                    <td>
                        <InputText @bind-Value="@person.FirstName" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Middle Name:</td>
                    <td>
                        <InputText @bind-Value="@person.MiddleName" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Last Name::</td>
                    <td>
                        <InputText @bind-Value="@person.LastName" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Suffix:</td>
                    <td>
                        <InputText @bind-Value="@person.Suffix" />
                    </td>
                </tr>
                <tr>
                    <td class="label">Gender:</td>
                    <td>
                        <InputSelect @bind-Value="@person.Gender">
                            <option value="">Choose Gender</option>
                            <option>Female</option>
                            <option>Male</option>
                        </InputSelect>
                    </td>
                </tr>
                <tr>
                    <td class="label">Birth Date:</td>
                    <td>
                        <InputDate @bind-Value="@person.BirthDate" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;
                        <NavLink href="/" class="btn btn-primary">Cancel</NavLink>
                    </td>
                </tr>
            </table>
        </EditForm>
    </article>
</section>

@code {
    private string errorMessage;
    private PersonDto person = new PersonDto();

    [Parameter]
    public int PersonId { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var response = await personService.GetPerson(new GetPersonRequest() { PersonId = PersonId });

        if (response.Successful) person = response.Person;

        errorMessage = response.Message;
    }

    private async Task UpdatePerson()
    {
        var request = new UpdatePersonRequest()
        {
            PersonId = PersonId,
            Prefix = person.Prefix,
            FirstName = person.FirstName,
            MiddleName = person.MiddleName,
            LastName = person.LastName,
            Suffix = person.Suffix,
            Gender = person.Gender,
            BirthDate = person.BirthDate
        };

        var response = await personService.UpdatePerson(request);

        if (response.Successful) navMgr.NavigateTo("");

        errorMessage = response.Message;
    }
}

