﻿@inherits LayoutComponentBase

<div class="container-fluid">
    <header></header>
    <nav>
        <AuthorizeView>
            <Authorized>
                <NavLink href="/">Home</NavLink> &nbsp;&nbsp;&nbsp;&nbsp;
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrator">
            <NavLink href="/create">Create New Person</NavLink> &nbsp;&nbsp;&nbsp;&nbsp;
        </AuthorizeView>

        <AuthorizeView>
            <Authorized>
                <NavLink href="/logout">Logout</NavLink>
            </Authorized>
        </AuthorizeView>
    </nav>
    <main class="row">
        <section class="col-md-12">
            @Body
        </section>
    </main>
    <footer></footer>
</div>

