@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-size: 13px;
    font-family: 'verdana', Helvetica, Arial, sans-serif;
}

a, a:not([href]).link-btn { 
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.data-table, .table-form {
    border-collapse: collapse;
    border: 1px solid black;
}

.data-table td, .data-table th, .table-form td {
    padding: .5rem;
}

.data-table td, .data-table th {
    border: 1px solid black;
}

.table-form td.label {
    font-weight: bold;
    text-align: right;
}

.data-table td.center {
    text-align: center;
}

.data-table th {
    font-weight:bold;
}